<div class="card text-center mb-4">
  <h5 class="card-header py-3"><%= plan.title %> </h5>
  <div class="card-body pb-4">
    <h3 class="card-title my-4 h1"><%= plan.price %> $</h3>
    <p class="card-text my-2"><%= pluralize(plan.time_months, 'month') %></p>
    <p class="card-text mb-4"><%= pluralize(plan.member_quantity, 'member') %></p>
    <%= render 'plan_card_btn', plan: plan %>
  </div>
</div>
