<%= link_to task_path(task), class: 'no-a-style' do %>
    <div class="w-100 py-3 px-2 bg-light border rounded mb-3 text-wrap">
        <p class="m-0"><small class="m-0 text-muted"><em>Task</em></small></p>
        <p class="m-0"><%= task.title %></p>
        <hr class="my-3">
        <p><small><strong>Author: </strong><%= task.creator.full_name %></small></p>
        <div class="d-flex justify-content-between">
            <p><small>10 people</small></p>
            <h5 class="text-end"><span class="badge <%= board_task_label_style(task) %>"><%= board_task_label_title(task) %></span></h5>
        </div>
    </div>
<% end %>
